<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.consenta.android.consentame">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activity.ConsentaMeActivity">

        </activity>

        <activity android:name=".activity.ConsentDetailsActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="consenta.me"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SubmitConsentActivity"/>
    </application>

</manifest>