<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.consenta.android.consentame">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".activity.ConsentaMeActivity" />
        <activity android:name=".activity.ConsentDetailsActivity" />
        <activity android:name=".activity.SubmitConsentActivity" />
    </application>

</manifest>